# Required dependencies for Verto (installed automatically in setup.py)
markdown==2.6.11
Jinja2==2.10
python-slugify==1.2.6
setuptools==40.4.0

# Required dependencies for building documentation
sphinx==1.8.0
sphinx_rtd_theme==0.4.1

# Coverage Tools
coverage==4.5.1
