<p>I'd kiss you as the lights went out</p>
<a class="btn btn-interactive-link" href="{% url 'interactive' slug='binary-cards' %}?digits=5&amp;start=BBBBB">
<img class="btn-interactive-link-image" src="{% static 'binarycards.png' %}" />
<div class="btn-interactive-whole-page-text">
Swaying as the room burned down
</div>
</a><p>I'd hold you as the water rushes in</p>
<iframe src="{% url 'interactive' slug='arrows' %}?digits=5&amp;start=BBBBB">
<p>Your browser does not support iframes.</p>
</iframe>
<p>I'd kiss you as the lights went out</p>
{% include 'interactive/flying-boxes/index.html' %}
<p>I'd hold you as the water rushes in</p>
