<a class="btn btn-interactive-link" href="{% url 'interactive' slug='arrows' %}">
<img class="btn-interactive-link-image" src="{% static 'interactives/arrows/img/thumbnail.png' %}" />
<div class="btn-interactive-whole-page-text">
The text.
</div>
</a><p>And some more text again.</p>
<a class="btn btn-interactive-link" href="{% url 'interactive' slug='flying-boxes' %}">
<img class="btn-interactive-link-image" src="{% static 'interactives/flying-boxes/img/thumbnail.png' %}" />
<div class="btn-interactive-whole-page-text">
the text.
</div>
</a><p>Aaaaaaaaaaaaaaaannnnnd here's some more.</p>
