<p>I'd kiss you as the lights went out</p>
<a class="btn btn-interactive-link" href="{% url 'interactive' slug='binary-cards' %}?digits=5&amp;start=BBBBB">
<img class="btn-interactive-link-image" src="{% static 'binarycards.png' %}" />
<div class="btn-interactive-whole-page-text">
Swaying as the room burned down
</div>
</a><p>I'd hold you as the water rushes in</p>
<a class="btn btn-interactive-link" href="{% url 'interactive' slug='arrows' %}?digits=5&amp;start=BBBBB">
<img class="btn-interactive-link-image" src="{% static 'interactives/arrows/img/thumbnail.png' %}" />
<div class="btn-interactive-whole-page-text">
If I could dance with you again
</div>
</a><p>I'd kiss you as the lights went out</p>
<a class="btn btn-interactive-link" href="{% url 'interactive' slug='flying-boxes' %}">
<img class="btn-interactive-link-image" src="{% static 'interactives/flying-boxes/img/thumbnail.png' %}" />
<div class="btn-interactive-whole-page-text">
Swaying as the room burned down
</div>
</a><p>I'd hold you as the water rushes in</p>
