<div>
  <img src="{{ filename }}"
    {% if alt %} alt="{{ alt }}"{% endif %}
    {% if hover_text %} title="{{ hover_text }}"{% endif %}
    class="{% if alignment == 'left' %}float-left{% elif alignment =='center' %}mx-auto d-block{% elif alignment =='right' %}float-right{% endif %}"
  />
  {% if caption and caption_link %}
  <p><a href="{{ caption_link }}">{{ caption }}</a></p>
  {% elif caption %}
  <p>{{ caption }}</p>
  {% endif %}
  {% if source_link %}
  <p><a href="{{ source_link }}">Source</a></p>
  {% endif %}
</div>
